body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #bcbebe;
    font-size: 120%;
    line-height: 1.5;
    
    
}

h1,
h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.titulo-principal {
    text-align: center;
    background-color: #36cdf3;
    color: rgb(175, 10, 10);
    padding: 50px;
    border-bottom: 10px solid black;
    font-size: 60px;
    text-transform: uppercase;
    animation: aparece 5s ;
    background-image: url("cover.jpg");
    
}

@keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

p {
    text-align: justify;
    margin: 20px 0;
}


/* esta classe é referente ao menu de navegação do site */

.navegacao-site {
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
}

.rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

main a {
    color: #851944;
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

.citacao-bio,
.navegacao-site,
.rodape-pagina {
    padding: 5px;
}

.container {
    width: 720px;
    margin: auto;
    padding: 30px 0;
}

.navegacao-site h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.subtitulo-texto {
    font-size: 30px;
    clear: both;
}

.icones-redes-sociais li {
    display: inline-block;
}

nav a {
    text-transform: lowercase;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -9999px;
}

.github {
    background-image: url(../imagens/github.png);
}

.twitter {
    background-image: url(../imagens/twitter.png);
}

.linkedin {
    background-image: url(../imagens/linkedin.png);
}

main {
    float: left;
    width: 100%;
    padding-bottom: 80px;
}

.minha-foto,
.navegacao-site {
    float: right;
    box-sizing: border-box;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}

.navegacao-site {
    width: 20%;
    height: 200px;
    position: absolute;
    top: 0px;
    background-image: url("quadra.jpg");
}